* { margin: 0; }
:root {
  --cor: red;
}

div {
  --size: 490px;
  width: var(--size); height: var(--size);
  position: absolute;
  left: 50%; top: 50%; 
  margin-left: calc(var(--size) / -2);
  margin-top: calc(var(--size) / -2);
  background-color: #ccc;
  color: var(--cor);
}      